@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-[#6366f1] to-[#ec4899];
    }
}

* {
  scrollbar-color: var(--color-gray-600) var(--color-gray-800);
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--color-gray-800);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-600);
  border-radius: 14px;
  border: 3px solid var(--color-gray-800);
}