---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Projects from "@components/home/Projects.astro";
import Blog from "@components/home/Blog.astro";

import { SITE_TITLE } from "../consts";
import Contact from "@components/home/Contact.astro";
import About from "@components/home/About.astro";
---

<Layout>
	<main class="pt-24 max-w-6xl mx-auto px-4">
		<!-- Hero Section -->
		<Hero SITE_TITLE={SITE_TITLE} />

		<!-- About Section -->
		<About />

		<!-- Projects Section -->
		<Projects />

		<!-- Blog Section -->
		<Blog />

		<!-- Contact Section -->
		<Contact />
	</main>
</Layout>
